@{
    ViewBag.Title = "Description";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ASP.NET Description</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #0072c6;
            color: #fff;
            padding: 20px;
            margin-top: 50px
            
        }

        h1 {
            margin: 0;
            font-size: 36px;
            font-weight: normal;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>ASP.NET</h1>
    </header>
    <main>
        <p>ASP.NET est un framework web open-source pour la création de sites web, d'applications web et de services web. Il est développé par Microsoft et est basé sur le framework .NET. ASP.NET offre une plateforme stable, rapide et sécurisée pour le développement de projets web modernes.</p>
        <p>ASP.NET est basé sur le modèle MVC (Model-View-Controller) qui permet une séparation claire entre la logique de l'application, la présentation des données et la gestion des événements. Le framework est également extensible, ce qui permet aux développeurs de créer des modules complémentaires pour ajouter des fonctionnalités spécifiques à leurs applications.</p>
    </main>
</body>
</html>
