@{
    ViewBag.Title = "Contact";
}
<h2>Page Contact</h2>

<h5>Si vous avez des questions concernant ce site n'hésitez pas à contacter le créateur de la page</h5>

<address>
    <strong>Support:</strong>   <a href="mouriesse.nathan@gmail.com">mouriesse.nathan@gmail.com</a><br />
   
</address>