@{
    ViewBag.Title = "Accueil";
}


<div class="jumbotron">

    <h1>Nathan Mouriesse</h1>
    <p class="lead">Bienvenue sur mon site !</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">ASP.net &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenue !</h2>
        <p>
            Bienvenue sur mon application ASP.NET MVC que j'ai pu effectuer à partir de Visual Studio code et Serveur management, vous aurez accès a mon Portfolio pour plus d'informations
        </p>
        <p><a class="btn btn-default" href="https://nathanmouriesse.github.io/">Portfolio &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Présentation</h2>
        <p>Vous pourrez retrouver la base de données des médecins ainsi que celle des départements. Si vous êtes connecté pour pourrez modifier, ajouter et supprimer des médecins ou des départements.</p>
        <p><a class="btn btn-default" href="https://localhost:44324/Departements">Département &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44324/Medecins">Médecin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>Vous pourrez retrouver le code sur mon Github sur ce lien.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Github &raquo;</a></p>
    </div>
</div>

<style>
    .jumbotron {
        background-color: #f0f8ff;
        padding: 100px 0;
        text-align: center;
        margin-bottom: 0;
    }

        .jumbotron h1 {
            font-size: 4em;
            color: #333;
        }

        .jumbotron .lead {
            font-size: 2em;
            color: #666;
        }

        .jumbotron .btn-primary {
            background-color: #333;
            border-color: #333;
        }

            .jumbotron .btn-primary:hover {
                background-color: #666;
                border-color: #666;
            }

    /* Style pour la section des colonnes */
    .row {
        margin-top: 50px;
        margin-bottom: 50px;
    }

        .row h2 {
            font-size: 3em;
            color: #333;
        }

        .row p {
            font-size: 1.2em;
            color: #666;
        }

    /* Style pour les boutons */
    .btn {
        padding: 10px 20px;
        font-size: 1.2em;
        border-radius: 0;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border: 2px solid #333;
    }

        .btn-default:hover {
            color: #fff;
            background-color: #333;
        }

    .col-md-4 {
        
        text-align: center;
    }
    
</style>